[Main]
Timeout=500
Timeout_Seconds=1
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=rgb(0,0,192)
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=rgb(0,192,0)
Text=mem

[SL_Swap]
Enabled=true
Use_Label=true
Color=rgb(240,240,0)
Text=swap

[SL_Uptime]
Enabled=false

